@import '~antd/dist/antd.css';

.login-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

.register-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.brand span {
    color: white;
}

.darkmode.autocomplete {
    background: #303030;
}

.darkmode.autocomplete span {
    color: white;
}

.darkmode .ant-modal-body {
    background: #303030;
}

.darkmode .ant-modal-title {
    color: white;
}

.darkmode div {
    color: white;
}

.darkmode .ant-modal-header {
    background: #303030;
    border-radius: 0;
}

.darkmode .ant-form-item-required {
    color: white;
}

.darkmode.autocomplete .global-outlined {
    color: #40a9ff;
}

.darkmode .ant-table {
    background: #303030;
    color: white;
}

.darkmode .ant-drawer-header {
    background: #303030;
    border-radius: 0;
    border-top: none;
    border-bottom: 1px solid black;
}

.darkmode .ant-drawer-footer {
    background: #303030;
    border-radius: 0;
    border-top: 1px solid black;
}

.darkmode .ant-card {
    background: #303030;
    border: 1px solid gray;
}

.darkmode .ant-statistic-content-value {
    color: white;
}

.darkmode .ant-card-body {
    background: #303030;
}

.darkmode .ant-statistic-title {
    color: white;
}

.darkmode .ant-statistic-content-suffix {
    color: white;
}

.darkmode .ant-drawer-header .ant-drawer-title {
    color: white;
}

.darkmode th {
    background: #212121 !important;
    color: white !important;
    border: none !important;
}

.darkmode td {
    background: #303030 !important;
    color: white;
    border: none !important;
}

.darkmode-toggle:hover {
    cursor: pointer;
}

.brand {
    float: left;
    color: white !important;
    font-weight: 500;
    font-size: 1.8em;
    margin-right: 50px;
}

.anticon-loading {
    margin-left: auto !important;
    margin-right: auto !important;
}

.anticon-search {
    margin-left: auto !important;
    margin-right: auto !important;
}

body {
    height: 100%
}

.ant-layout-sider-dark {
    background: rgb(20, 20, 20);
}

/* Mobile
------------------------*/
@media screen and (max-width: 992px) {
    .sider-menu {
        z-index: 5000;
        width: 80% !important;
        height: 100%;
    }

    .ant-layout-sider-collapsed {
        z-index: 0;
    }

    .ant-menu-inline-collapsed {
        display: none;
        z-index: -1;
    }

    .ant-layout-sider-trigger {
        display: none;
    }

    .register-page {
        padding: 20px 35px;
    }

    .mobile-menu {
        position: fixed;
        top: 15px;
        left: 10px;
        z-index: 5;
        font-size: 35px;
        color: white;
    }

    .ant-layout-sider {
        width: 80%;
        background: none;
    }

    .search-bar {
        display: none;
    }

    .ant-picker-range {
        width: 232px;
        float: left;

    }

    .ant-card {
        margin-top: 10px;
    }

    .ant-picker-time-panel {
        display: none;
    }

    .ant-drawer-content-wrapper {
        width: 100% !important;
    }

    .page-content {
        left: 0px !important;
        top: 25px !important;
    }

    .ant-table {
        overflow: auto;
    }

    .ant-breadcrumb {
        display: none;
    }
}

#normal_login button {
    width: 100%;
    height: 40px;
}

.register-page button {
    width: 100% !important;
    height: 40px;
}

@media screen and (min-width: 992px) {
    .ant-layout-sider-trigger {
        display: none;
    }

    .sider-menu {
        bottom: 0 !important;
    }

    .mobile-menu {
        display: none;
    }
}
