@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.login-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}

.register-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.brand span {
  color: white;
}

.brand {
  float: left;
  color: white !important;
  font-weight: 500;
  font-size: 1.8em;
  margin-right: 50px;
  background: #001529 !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.anticon-loading {
  margin-left: auto !important;
  margin-right: auto !important;
}

.anticon-search {
  margin-left: auto !important;
  margin-right: auto !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  height: 100%
}